[submodule "completions"]
	path = completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "plugins/history-substring-search/external"]
	path = plugins/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
